@page "/amazingart"

<main>
    <section class="mt-5 position-relative">
        <div class="container-xxl  d-none d-xxl-block">
            <div class="row">
                <div class="col-12 position-static">

                    <div class="btn_wrapper bg_dark_mode_23 bg-white d-inline-flex justify-content-center flex-wrap shadow  rounded-pill px-3 py-1 card_content_footer_btn">

                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1 bg_23 text_7">
                            <i class="fas fa-times    "></i>
                        </button>

                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18.333"
                                 viewBox="0 0 15 18.333">
                                <g id="icons_Share_Square_Line" data-name="icons/Share Square/Line"
                                   transform="translate(-2.5 -0.833)">
                                    <path id="Shape"
                                          d="M5,.789a.833.833,0,0,1-.788.877c-.627.033-1.124.074-1.512.115a.921.921,0,0,0-.891.836,28.255,28.255,0,0,0-.141,3.139,28.255,28.255,0,0,0,.141,3.139.92.92,0,0,0,.889.836,47.141,47.141,0,0,0,4.8.192,47.141,47.141,0,0,0,4.8-.192.92.92,0,0,0,.889-.836,28.259,28.259,0,0,0,.141-3.139,28.259,28.259,0,0,0-.141-3.139.921.921,0,0,0-.891-.836c-.388-.041-.885-.082-1.512-.115A.833.833,0,0,1,10.878,0c.652.035,1.178.078,1.6.122a2.585,2.585,0,0,1,2.372,2.3A29.872,29.872,0,0,1,15,5.756a29.872,29.872,0,0,1-.152,3.328,2.583,2.583,0,0,1-2.37,2.3,48.719,48.719,0,0,1-4.978.2,48.721,48.721,0,0,1-4.978-.2,2.583,2.583,0,0,1-2.37-2.3A29.862,29.862,0,0,1,0,5.756,29.862,29.862,0,0,1,.152,2.427,2.584,2.584,0,0,1,2.524.123C2.944.079,3.47.036,4.122,0A.833.833,0,0,1,5,.789Z"
                                          transform="translate(2.5 7.578)" fill="#777e90" />
                                    <path id="Shape-2" data-name="Shape"
                                          d="M4.339-1.423a.833.833,0,0,1,0,1.179.833.833,0,0,1-1.179,0L.244-3.161a.833.833,0,0,1,0-1.179L3.161-7.256a.833.833,0,0,1,1.179,0,.833.833,0,0,1,0,1.179L2.845-4.583h7.988a.833.833,0,0,1,.833.833.833.833,0,0,1-.833.833H2.845Z"
                                          transform="translate(6.25 0.833) rotate(90)" fill="#777e90" />
                                </g>
                            </svg>
                        </button>
                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                            <i class="fas fa-heart text-danger   "></i>
                        </button>
                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="3.333"
                                 viewBox="0 0 15 3.333">
                                <g id="Group" transform="translate(-2.5 -8.333)">
                                    <path id="Vector"
                                          d="M1.667,0A1.667,1.667,0,1,0,3.333,1.667,1.672,1.672,0,0,0,1.667,0ZM13.333,0A1.667,1.667,0,1,0,15,1.667,1.672,1.672,0,0,0,13.333,0ZM7.5,0A1.667,1.667,0,1,0,9.167,1.667,1.672,1.672,0,0,0,7.5,0Z"
                                          transform="translate(2.5 8.333)" fill="#777e90" />
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-7">
                    <div class="col_wrapper">
                        <div class="card bg_transparent bg_dark_mode_23  pt-2 py-5 border-0">
                            <div class="card-body border-0 p-0 bg_transparent h_768 position-relative">
                                <div class="position-absolute top_0 left_0 p-3 p-md-4">
                                    <div class="btn_wrapper top_0 left_0 ">
                                        <button class="btn bg_23 text-white mr-2 text-uppercase bg_dark_mode_fc border-0">
                                            Art
                                        </button>
                                        <button class="btn bg_violate text-white text-uppercase border-0">
                                            unlockable
                                        </button>
                                    </div>
                                </div>

                                <img src="./img/bitcoin_tf.png"
                                     class="h-100 size_cover mx-auto d-block w_100_less_sm" alt="">
                                <div class="position-absolute d-xxl-none left_0 bottom_0 w-100 text-center p-3 p-md-4 bg_dark_mode_23">
                                    <div class="btn_wrapper bg-white d-inline-flex justify-content-center flex-wrap shadow  rounded-pill px-3 py-1 bg_dark_mode_23 dark_shadow_off">
                                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18.333"
                                                 viewBox="0 0 15 18.333">
                                                <g id="icons_Share_Square_Line" data-name="icons/Share Square/Line"
                                                   transform="translate(-2.5 -0.833)">
                                                    <path id="Shape"
                                                          d="M5,.789a.833.833,0,0,1-.788.877c-.627.033-1.124.074-1.512.115a.921.921,0,0,0-.891.836,28.255,28.255,0,0,0-.141,3.139,28.255,28.255,0,0,0,.141,3.139.92.92,0,0,0,.889.836,47.141,47.141,0,0,0,4.8.192,47.141,47.141,0,0,0,4.8-.192.92.92,0,0,0,.889-.836,28.259,28.259,0,0,0,.141-3.139,28.259,28.259,0,0,0-.141-3.139.921.921,0,0,0-.891-.836c-.388-.041-.885-.082-1.512-.115A.833.833,0,0,1,10.878,0c.652.035,1.178.078,1.6.122a2.585,2.585,0,0,1,2.372,2.3A29.872,29.872,0,0,1,15,5.756a29.872,29.872,0,0,1-.152,3.328,2.583,2.583,0,0,1-2.37,2.3,48.719,48.719,0,0,1-4.978.2,48.721,48.721,0,0,1-4.978-.2,2.583,2.583,0,0,1-2.37-2.3A29.862,29.862,0,0,1,0,5.756,29.862,29.862,0,0,1,.152,2.427,2.584,2.584,0,0,1,2.524.123C2.944.079,3.47.036,4.122,0A.833.833,0,0,1,5,.789Z"
                                                          transform="translate(2.5 7.578)" fill="#777e90" />
                                                    <path id="Shape-2" data-name="Shape"
                                                          d="M4.339-1.423a.833.833,0,0,1,0,1.179.833.833,0,0,1-1.179,0L.244-3.161a.833.833,0,0,1,0-1.179L3.161-7.256a.833.833,0,0,1,1.179,0,.833.833,0,0,1,0,1.179L2.845-4.583h7.988a.833.833,0,0,1,.833.833.833.833,0,0,1-.833.833H2.845Z"
                                                          transform="translate(6.25 0.833) rotate(90)"
                                                          fill="#777e90" />
                                                </g>
                                            </svg>
                                        </button>
                                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                                            <i class="fas fa-heart text-danger   "></i>
                                        </button>
                                        <button class="btn btn-muted w_h_40 rounded-circle border mx-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="3.333"
                                                 viewBox="0 0 15 3.333">
                                                <g id="Group" transform="translate(-2.5 -8.333)">
                                                    <path id="Vector"
                                                          d="M1.667,0A1.667,1.667,0,1,0,3.333,1.667,1.672,1.672,0,0,0,1.667,0ZM13.333,0A1.667,1.667,0,1,0,15,1.667,1.672,1.672,0,0,0,13.333,0ZM7.5,0A1.667,1.667,0,1,0,9.167,1.667,1.672,1.672,0,0,0,7.5,0Z"
                                                          transform="translate(2.5 8.333)" fill="#777e90" />
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <aside class="amazing_aside ml-auto">
                        <div class="col_wrapper">
                            <h3 class="font_size_40 text_23">
                                The amazing art
                            </h3>
                            <div class="span_wrapper">
                                <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                    2.45 ETH
                                </span>
                                <span class="font_size_14   d-inline-block px-1 rounded-lg border  ">
                                    $4,429.87
                                </span>
                                <span class="font_size_14   d-inline-block px-1 rounded-lg  ">
                                    10 in stock
                                </span>
                            </div>
                            <p class="py-5 py-md-5 text_7">
                                This NFT Card will give you Access to Special Airdrops. To learn more about STARB
                                please
                                visit <a href="#" class="text-black"
                                         style="text-decoration: underline;">https://www.starboard.org</a>
                            </p>
                        </div>
                        <div class="col_wrapper">
                            <div class="nav_wrapper">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs p-2 border rounded-pill">
                                    <li class="nav-item">
                                        <button class="btn border-0 btn-sm btn-muted nav-link btn_active_component rounded-pill px-3 py-1 active"
                                                data-toggle="tab" data-target="#Info">
                                            Info
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="btn border-0 btn-sm btn-muted nav-link btn_active_component rounded-pill px-3 py-1"
                                                data-toggle="tab" data-target="#Owners">
                                            Owners
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="btn border-0 btn-sm btn-muted nav-link btn_active_component rounded-pill px-3 py-1"
                                                data-toggle="tab" data-target="#History">
                                            History
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="btn border-0 btn-sm btn-muted nav-link btn_active_component rounded-pill px-3 py-1"
                                                data-toggle="tab" data-target="#Bids">
                                            Bids
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content my-3 my-md-5">
                                <div id="Info" class="tab-pane active">
                                    <div class="tab_wrapper">
                                        <ul class="list-group bg_transparent">
                                            <li class="list-group-item px-0 bg_transparent border-top-0 border-right-0 border-left-0 border-bottom">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex_item mr-3">
                                                        <div class="img_box w_h_60 position-relative">
                                                            <img src="./img/burger.png" alt=""
                                                                 class="w-100 h-100 rounded-circle">
                                                            <img src="./img/creator_box.png"
                                                                 class="position-absolute bottom_0 right_0" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="flex_item font_size_14 font_family_poppins">
                                                        <span class=" text_7">
                                                            Owner
                                                        </span>
                                                        <br>
                                                        <span class="font-weight-bold">
                                                            Raquel Will
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item px-0 bg_transparent border-top-0 border-right-0 border-left-0 border-bottom">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex_item mr-3">
                                                        <div class="img_box w_h_60 position-relative">
                                                            <img src="./img/user.png" alt=""
                                                                 class="w-100 h-100 rounded-circle">

                                                        </div>
                                                    </div>
                                                    <div class="flex_item font_size_14 font_family_poppins">
                                                        <span class=" text_7">
                                                            Creator
                                                        </span>
                                                        <br>
                                                        <span class="font-weight-bold">
                                                            Selina Mayert
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="card bg_dark_mode_23 shadow p-2 p-sm-3 my-5 mx-auto rounded_16 amazing_card_size bg_transparent border-0">
                                            <div class="card-header px-0 bg_transparent border-0">
                                                <div class="d-flex justify-content-between flex-wrap">
                                                    <div class="flex_item mb-2 mr-2">
                                                        <div class="img_box w_h_60">
                                                            <img src="img/user.png" alt=""
                                                                 class="w-100 h-100 rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex_item mb-2 mr-2">
                                                        <h6 class="text_7">
                                                            Highest bid by <span class="text_23">
                                                                &nbsp; Kohaku
                                                                Tora
                                                            </span>
                                                        </h6>
                                                        <h4 class="text_23">
                                                            1.46 ETH <span class="text_7">&nbsp; $2,764.89</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body px-0 border-0 bg_transparent">
                                                <div class="btn_wrapper d-flex  justify-content-between">
                                                    <button data-toggle="modal" data-target="#checkout_modal"
                                                            class="btn btn-primary flex-grow-1 rounded-pill mr-3 mb-1">
                                                        Purchase now
                                                    </button>
                                                    <button class="btn btn-muted flex-grow-1 rounded-pill border mb-1"
                                                            data-toggle="modal" data-target="#connect_wallet_modal">
                                                        Place a bid
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-footer px-0 border-0 bg_transparent">
                                                <div class="d-flex  flex-wrap font_size_14">
                                                    <span class="mr-2 text_7">Service fee</span>
                                                    <span class="mr-2 text_23 font-weight-bold">1.5%</span>
                                                    <span class="mr-2 text_7">2.563 ETH</span>
                                                    <span class="text_7">$4,540.62</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="Owners" class="tab-pane">
                                    <div class="tab_wrapper">
                                        Owners
                                    </div>
                                </div>

                                <div id="History" class="tab-pane">
                                    <div class="tab_wrapper">
                                        History
                                    </div>
                                </div>

                                <div id="Bids" class="tab-pane">
                                    <div class="tab_wrapper">
                                        Bids
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>


    </section>



    <!-- ................................modal section ..................-->
    <section>
        <!-- create item modal -->
        <div class="col_wrapper">
            <!-- checkout_modal Modal -->
            <div class="modal fade" id="checkout_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 px-4 py-2">
                                <h4 class="text-black  mb-0">
                                    Checkout
                                </h4>
                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                                <p class="w-100 py-3">
                                    You are about to purchase STARB from <br>
                                    <a href="#" class="text-black text_underline">Starboard.market</a>
                                </p>
                            </div>
                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent shadow-sm">
                                    <div class="d-flex align-items-center justify-content-between text_23">
                                        <span class="mr-2">
                                            0.007
                                        </span>
                                        <span>ETH</span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            Your balance
                                        </span>
                                        <span class="text_23">
                                            8.498 ETH
                                        </span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            Service fee
                                        </span>
                                        <span class="text_23">
                                            0 ETH
                                        </span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            You will pay
                                        </span>
                                        <span class="text_23">
                                            0.007 ETH
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex bg_ef p-3 text-danger rounded_10 justify-content-center align-items-center">
                                        <span title="hi"
                                              class="cup w_h_20 mr-2 mt-1 d-inline-flex justify-content-center align-items-center rounded-circle"
                                              style="border: 1px solid #dc3545">
                                            <i class="fas fa-info font_size_12"></i>
                                        </span>
                                        <div class="content ">
                                            <strong>This creator is not verified</strong>
                                            <br>
                                            <span class="font_size_12">
                                                Purchase this item at your own risk
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="btn_wrapper my-2">
                                        <button class="btn btn-primary w-100 rounded-pill mb-2"
                                                onclick="CheckoutModal(this)" data-dismiss="modal" data-toggle="modal"
                                                data-target="#purchasing_process_modal">
                                            I understand, continue
                                        </button>
                                        <button class="btn btn-muted w-100 rounded-pill border"
                                                data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout_modal end -->
        <!-- purchasing_process_modal -->
        <div class="col_wrapper">
            <!-- checkout_modal Modal -->
            <div class="modal fade" id="purchasing_process_modal" tabindex="-1" role="dialog"
                 aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 px-4 py-2">
                                <h4 class="text-black  mb-0">
                                    Follow steps
                                </h4>
                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                                <p class="w-100 py-3">
                                    You are about to purchase STARB from <br>
                                    <a href="#" class="text-black text_underline">Starboard.market</a>
                                </p>
                            </div>
                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center">
                                        <!-- <div class="spinner-border  text-primary"></div> -->
                                        <!-- <img src="./img/loader.svg" class="mr-3" alt=""> -->
                                        <span class="loading_custom_spinner mr-2 mr-sm-4"> </span>
                                        <div class="content">
                                            <strong class="text_23">Purchasing</strong>
                                            <br>
                                            <span class="text_7 font_size_14">
                                                Sending transaction with your wallet
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex bg_ef p-3 text-danger rounded_10 justify-content-center align-items-center">
                                        <span title="hi"
                                              class="cup w_h_20 mr-2 mt-1 d-inline-flex justify-content-center align-items-center rounded-circle"
                                              style="border: 1px solid #dc3545">
                                            <i class="fas fa-info font_size_12"></i>
                                        </span>
                                        <div class="content ">
                                            <strong>This creator is not verified</strong>
                                            <br>
                                            <span class="font_size_12">
                                                Purchase this item at your own risk
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="btn_wrapper my-2">
                                        <button class="btn btn-primary w-100 rounded-pill mb-2"
                                                onclick="CheckoutModal(this)" data-dismiss="modal" data-toggle="modal"
                                                data-target="#successfully_purchase_modal">
                                            I understand, continue
                                        </button>
                                        <button class="btn btn-muted w-100 rounded-pill border"
                                                data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- purchasing_process_modal end -->
        <!-- successfully_purchase_modal item modal -->
        <div class="col_wrapper">
            <!-- successfully_purchase_modal Modal -->
            <div class="modal fade" id="successfully_purchase_modal" tabindex="-1" role="dialog"
                 aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-end flex-wrap align-items-center pt-3 px-4 py-2">
                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                            </div>
                            <div class="content_wrapper">
                                <p class="font_size_48 text_23 text-center">
                                    Yay! 🎉
                                </p>
                                <p class="font_size_16 text_23 text-center">
                                    <strong>
                                        You successfully purchased <br>
                                        STARB from Starboard Market
                                    </strong>
                                </p>
                            </div>
                            <ul class="list-group px-4 border rounded_10 m-1 m-sm-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex justify-content-between font_size_14 text_7">
                                        <span class="mr-2 ">
                                            Status
                                        </span>
                                        <span>
                                            Transaction ID
                                        </span>
                                    </div>
                                </li>

                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex justify-content-between font_size_14">
                                        <span class="mr-2 text_97">
                                            Processing
                                        </span>
                                        <strong class="text_23">
                                            0msx836930...87r398
                                        </strong>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group px-4 m-4">
                                <li class="px-1 text-center list-group-item border-0 bg_transparent">
                                    <strong class="text_23">
                                        Time to show-off
                                    </strong>
                                </li>
                                <li class="px-1 text-center list-group-item border-0 bg_transparent">
                                    <div class="d-flex justify-content-center">
                                        <a href="#"
                                           class="d-inline-flex justify-content-center mr-2 mb-2 align-items-center w_h_48 rounded-circle border">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 20 20">
                                                <g id="Icons_Facebook_Line" data-name="Icons/Facebook/Line"
                                                   transform="translate(-2 -2)">
                                                    <path id="Vector"
                                                          d="M10,18a8,8,0,1,0-8-8A8,8,0,0,0,10,18Zm0,2A10,10,0,1,0,0,10,10,10,0,0,0,10,20Z"
                                                          transform="translate(2 2)" fill="#777e90"
                                                          fill-rule="evenodd" />
                                                    <path id="Vector-2" data-name="Vector"
                                                          d="M4,3A1,1,0,0,1,5,2H6A1,1,0,0,0,6,0H5A3,3,0,0,0,2,3V5H1A1,1,0,0,0,1,7H2v6a1,1,0,0,0,2,0V7H6A1,1,0,0,0,6,5H4Z"
                                                          transform="translate(8 7)" fill="#777e90" />
                                                </g>
                                            </svg>
                                        </a>

                                        <a href="#"
                                           class="d-inline-flex justify-content-center mr-2 mb-2 align-items-center w_h_48 rounded-circle border">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21.844" height="18"
                                                 viewBox="0 0 21.844 18">
                                                <g id="Icons_Twitter_Line" data-name="Icons/Twitter/Line"
                                                   transform="translate(-1.08 -3)">
                                                    <path id="Vector"
                                                          d="M2.1,11A2.1,2.1,0,0,0,.4,14.316C1.857,16.36,4.5,18,8.92,18c6.845,0,12.34-5.578,11.571-12.169l1.127-2.254a2.1,2.1,0,0,0-2.29-3l-1.489.3A7.451,7.451,0,0,0,16.687.4,7.625,7.625,0,0,0,14.42,0a5.688,5.688,0,0,0-3.49,1.056A5.062,5.062,0,0,0,9.191,3.509a6.641,6.641,0,0,0-.277,1.149,10.1,10.1,0,0,1-1.6-.667A8.681,8.681,0,0,1,4.586,1.886a2.1,2.1,0,0,0-3.557.435A8.488,8.488,0,0,0,1.2,9.013,9.852,9.852,0,0,0,2.327,11ZM8.92,16c-3.863,0-5.861-1.4-6.894-2.846A.1.1,0,0,1,2.106,13a10.017,10.017,0,0,0,4.63-.885.1.1,0,0,0-.023-.179C3.4,10.821,1.512,6.1,2.851,3.146a.1.1,0,0,1,.168-.018A11.383,11.383,0,0,0,10.8,7a.1.1,0,0,0,.1-.119C10.783,6.121,10.335,2,14.42,2a5.479,5.479,0,0,1,2.962.963.1.1,0,0,0,.091.026L19.72,2.54a.1.1,0,0,1,.109.143L18.435,5.47a.1.1,0,0,0-.009.063C19.4,11.02,14.908,16,8.92,16Z"
                                                          transform="translate(1.08 3)" fill="#777e90"
                                                          fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </a>

                                        <a href="#"
                                           class="d-inline-flex justify-content-center mr-2 mb-2 align-items-center w_h_48 rounded-circle border">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 20 20">
                                                <g id="Icons_Instagram_Line" data-name="Icons/Instagram/Line"
                                                   transform="translate(-2 -2)">
                                                    <path id="Vector"
                                                          d="M14,2H6A4,4,0,0,0,2,6v8a4,4,0,0,0,4,4h8a4,4,0,0,0,4-4V6A4,4,0,0,0,14,2ZM6,0A6,6,0,0,0,0,6v8a6,6,0,0,0,6,6h8a6,6,0,0,0,6-6V6a6,6,0,0,0-6-6Z"
                                                          transform="translate(2 2)" fill="#777e90"
                                                          fill-rule="evenodd" />
                                                    <path id="Vector-2" data-name="Vector"
                                                          d="M1,2A1,1,0,1,0,0,1,1,1,0,0,0,1,2Z"
                                                          transform="translate(16 6)" fill="#777e90" />
                                                    <path id="Vector-3" data-name="Vector"
                                                          d="M10,5A5,5,0,1,1,5,0,5,5,0,0,1,10,5ZM8,5A3,3,0,1,1,5,2,3,3,0,0,1,8,5Z"
                                                          transform="translate(7 7)" fill="#777e90"
                                                          fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </a>
                                        <a href="#"
                                           class="d-inline-flex justify-content-center mr-2 mb-2 align-items-center w_h_48 rounded-circle border">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 20 20">
                                                <g id="Icons_Pinterest_Line" data-name="Icons/Pinterest/Line"
                                                   transform="translate(-2 -2)">
                                                    <path id="Vector"
                                                          d="M10,18a8,8,0,1,0-8-8A8,8,0,0,0,10,18Zm0,2A10,10,0,1,0,0,10,10,10,0,0,0,10,20Z"
                                                          transform="translate(2 2)" fill="#777e90"
                                                          fill-rule="evenodd" />
                                                    <path id="Vector-2" data-name="Vector"
                                                          d="M2.44,3.854a4.035,4.035,0,0,0,.017,3.7,1,1,0,0,1-1.789.894A6.032,6.032,0,0,1,.685,2.9,5.818,5.818,0,0,1,6.062,0a5.212,5.212,0,0,1,4.369,2.17,6.3,6.3,0,0,1,1.085,4.35,5.261,5.261,0,0,1-2.224,3.855,5.488,5.488,0,0,1-4.355.611l-.912,3.282A1,1,0,1,1,2.1,13.732L3.278,9.487l.005-.019L4.6,4.732a1,1,0,1,1,1.927.535L5.474,9.056a3.47,3.47,0,0,0,2.716-.35,3.27,3.27,0,0,0,1.34-2.414,4.306,4.306,0,0,0-.721-2.954A3.216,3.216,0,0,0,6.062,2,3.833,3.833,0,0,0,2.44,3.854Z"
                                                          transform="translate(6.438 6)" fill="#777e90" />
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- successfully_purchase_modal end -->
        <!-- connect_wallet_modal modal -->
        <div class="col_wrapper">
            <!-- checkout_modal Modal -->
            <div class="modal fade" id="connect_wallet_modal" tabindex="-1" role="dialog"
                 aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-end flex-wrap align-items-center pt-3 px-4 py-2">

                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                            </div>
                            <div class="text-center mt-4">
                                <div class="img_box">
                                    <span class="d-inline-flex justify-content-center align-items-center bg_violate text-white mr-3 rounded-circle w_h_60">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18"
                                             viewBox="0 0 22 18">
                                            <g id="icons_Wallet_Line" data-name="icons/Wallet/Line"
                                               transform="translate(-1 -3)">
                                                <path id="Shape"
                                                      d="M18,2H4A2,2,0,0,0,2,4V14a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V4A2,2,0,0,0,18,2ZM4,0A4,4,0,0,0,0,4V14a4,4,0,0,0,4,4H18a4,4,0,0,0,4-4V4a4,4,0,0,0-4-4Z"
                                                      transform="translate(1 3)" fill="#fcfcfd" fill-rule="evenodd">
                                                </path>
                                                <path id="Shape-2" data-name="Shape"
                                                      d="M0,5A5,5,0,0,1,5,0H9A1,1,0,0,1,9,2H5A3,3,0,0,0,5,8H9a1,1,0,0,1,0,2H5A5,5,0,0,1,0,5Z"
                                                      transform="translate(13 7)" fill="#fcfcfd"></path>
                                                <path id="Shape-3" data-name="Shape"
                                                      d="M2,1A1,1,0,1,1,1,0,1,1,0,0,1,2,1Z"
                                                      transform="translate(17 11)" fill="#fcfcfd"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                                <div class="content_box">
                                    <p class="font-weight-bold p-4">
                                        You need to connect your wallet first to sign messages and send transaction
                                        to
                                        Ethereum network
                                    </p>
                                </div>
                            </div>

                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="btn_wrapper my-2">
                                        <button class="btn btn-primary w-100 rounded-pill mb-2"
                                                onclick="ConnectWallet(this)" data-dismiss="modal" data-toggle="modal"
                                                data-target="#place_bid_modal">
                                            Connect wallet
                                        </button>
                                        <button class="btn btn-muted w-100 rounded-pill border"
                                                data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- connect_wallet_modal end -->
        <!-- place_bid_modal -->
        <div class="col_wrapper">
            <div class="modal fade" id="place_bid_modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 px-4 py-2">
                                <h4 class="text-black  mb-0">
                                    Place a bid
                                </h4>
                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                                <p class="w-100 py-3">
                                    You are about to place a bit for STARB from Starboard
                                </p>
                            </div>
                            <ul class="list-group px-4">

                                <li class="px-1 list-group-item border-0 bg_transparent shadow-sm">
                                    <h4>
                                        Your bid
                                    </h4>
                                    <div class="d-flex align-items-center justify-content-between text_23">
                                        <span class="mr-2">
                                            <input type="number" min="0"
                                                   class="focus_shadow_off hide_arrow outline-0 px-0 form-control border-0 shadow-0"
                                                   placeholder="Enter bid">
                                        </span>
                                        <span>ETH</span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            Your balance
                                        </span>
                                        <span class="text_23 font-weight-bold">
                                            8.498 ETH
                                        </span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            Service fee
                                        </span>
                                        <span class="text_23 font-weight-bold">
                                            0 ETH
                                        </span>
                                    </div>
                                </li>
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center justify-content-between ">
                                        <span class="mr-2 text_7">
                                            You will pay
                                        </span>
                                        <span class="text_23 font-weight-bold">
                                            0 ETH
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group px-4">
                                <li class="px-1 list-group-item border-0 bg_transparent">
                                    <div class="btn_wrapper my-2">
                                        <button class="btn btn-primary w-100 rounded-pill mb-2" data-dismiss="modal"
                                                data-toggle="modal" data-target="#connect_wallet_steps_modal">
                                            Place a bid
                                        </button>
                                        <button class="btn btn-muted w-100 rounded-pill border"
                                                data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- place_bid_modal End -->
        <!-- connect_wallet_steps_modal-->
        <div class="col_wrapper">
            <!-- Modal -->
            <div class="modal fade" id="connect_wallet_steps_modal" tabindex="-1" role="dialog"
                 aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0 rounded_24 py-3 bg_transparent">
                        <div class="shadow bg-white rounded_24 py-3">
                            <div class="d-flex justify-content-between align-items-center pt-3 px-3 py-2">
                                <h4 class="text-black  mb-0">
                                    Follow steps
                                </h4>
                                <button type="button" data-dismiss="modal"
                                        class="btn btn-muted border w_h_40 rounded-circle">
                                    <i class="fas fa-times    "></i>
                                </button>
                            </div>
                            <ul class="list-group py-3">
                                <li class="list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center">
                                        <div data-step-action="start" class="mr-4">
                                            <span class="d-inline-block  rounded-circle bg_e6  d-flex justify-content-center align-items-center w_h_48">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22"
                                                     viewBox="0 0 18 22">
                                                    <g id="icons_File_Upload_Line"
                                                       data-name="icons/File Upload/Line"
                                                       transform="translate(-3 -1)">
                                                        <path id="Shape"
                                                              d="M0,4A4,4,0,0,1,4,0h8.343a4,4,0,0,1,2.829,1.172l1.657,1.657A4,4,0,0,1,18,5.657V18a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4ZM16,7V18a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V4A2,2,0,0,1,4,2h7V4a3,3,0,0,0,3,3Zm-.111-2a2,2,0,0,0-.475-.757L13.757,2.586A2,2,0,0,0,13,2.111V4a1,1,0,0,0,1,1Z"
                                                              transform="translate(3 1)" fill="#777e90"
                                                              fill-rule="evenodd" />
                                                        <path id="Shape-2" data-name="Shape"
                                                              d="M3.617.076a1,1,0,0,0-.324.217l-3,3A1,1,0,0,0,1.707,4.707L3,3.414V8A1,1,0,1,0,5,8V3.414L6.293,4.707A1,1,0,0,0,7.707,3.293l-3-3A1,1,0,0,0,3.617.076Z"
                                                              transform="translate(8 9)" fill="#777e90" />
                                                    </g>
                                                </svg>



                                            </span>

                                        </div>
                                        <div class="content_wrapper">
                                            <strong>Deposit ETH</strong>
                                            <br>
                                            <span class="font_size_12 text_7 font_family_poppins">
                                                Send transaction with your wallet
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btn_wrapper my-2">
                                        <button onclick="ActionStepStart(this)"
                                                class="btn btn-primary w-100 rounded-pill">
                                            Start now
                                        </button>

                                    </div>
                                </li>
                                <li class="list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-4" data-step-action="approve">
                                            <span class="d-inline-block  rounded-circle bg_e6 d-flex justify-content-center align-items-center"
                                                  style="width: 48px; height: 48px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                                     viewBox="0 0 14 10">
                                                    <path id="check_Stroke_" data-name="check (Stroke)"
                                                          d="M13.707.293a1,1,0,0,1,0,1.414l-8,8a1,1,0,0,1-1.414,0l-4-4A1,1,0,1,1,1.707,4.293L5,7.586,12.293.293A1,1,0,0,1,13.707.293Z"
                                                          fill="#777e90" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="content_wrapper">
                                            <strong>Approve</strong>
                                            <br>
                                            <span class="font_size_12 text_7 font_family_poppins">
                                                Checking balance and approving
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btn_wrapper my-2">
                                        <button data-action-step="approve"
                                                class="btn btn-primary w-100 rounded-pill"
                                                onclick="ActionStepApprove(this)" disabled>
                                            Start now
                                        </button>
                                    </div>
                                </li>

                                <li class="list-group-item border-0 bg_transparent">
                                    <div class="d-flex align-items-center">
                                        <span class="d-inline-block  rounded-circle bg_e6 mr-3 d-flex justify-content-center align-items-center"
                                              style="width: 48px; height: 48px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19.894" height="19.894"
                                                 viewBox="0 0 19.894 19.894">
                                                <path id="Shape"
                                                      d="M.074,16.241.8,12.98a4,4,0,0,1,1.076-1.961l9.848-9.848a4,4,0,0,1,5.657,0l1.343,1.343a4,4,0,0,1,0,5.657L8.875,18.02A4,4,0,0,1,6.914,19.1l-3.261.725A3,3,0,0,1,.074,16.241Zm2.677-2.827-.725,3.261a1,1,0,0,0,1.193,1.193l3.261-.725a2,2,0,0,0,.949-.508L3.258,12.465A2,2,0,0,0,2.751,13.414ZM4.672,11.05l4.172,4.172,5.586-5.586L10.258,5.465ZM17.308,6.757,15.844,8.222,11.672,4.05l1.465-1.465a2,2,0,0,1,2.828,0l1.343,1.343A2,2,0,0,1,17.308,6.757Z"
                                                      transform="translate(0 0)" fill="#777e90" fill-rule="evenodd" />
                                            </svg>
                                        </span>
                                        <div class="content_wrapper">
                                            <strong>Signature</strong>
                                            <br>
                                            <span class="font_size_12 text_7 font_family_poppins">
                                                Sign lock order using your wallet
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btn_wrapper my-2">
                                        <button data-action-step="signature"
                                                class="btn btn-primary w-100 rounded-pill" disabled>
                                            Start now
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- connect_wallet_steps_modal end-->

    </section>
</main>

@code {

}
