@page  "/frequentask"

<main>
    <section>
        <div class="container-xxl my-5">
            <div class="row">
                <div class="col-12 my-5">
                    <span class="font_size_12 text_f4">
                        learn how to get started
                    </span>
                    <h2>
                        Frequently asked questions
                    </h2>
                    <p>
                        Join Starboard community now to get free updates and also alot of freebies are waiting for
                        <br>
                        you
                        or <a href="#">Contact Support</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 d-none d-md-block">
                    <ul class="list-group">
                        <li class="list-group-item bg_transparent border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.667" height="13.23"
                                 viewBox="0 0 14.667 13.23">
                                <path id="Shape"
                                      d="M12.667,11.1V4.541l.99.594a.667.667,0,1,0,.686-1.143L11,1.983,8.434.44h0c-.186-.112-.329-.2-.45-.263Q7.942.153,7.9.133a1.226,1.226,0,0,0-.278-.1,1.333,1.333,0,0,0-.574,0,1.228,1.228,0,0,0-.279.1q-.043.02-.084.043c-.121.065-.264.151-.451.263h0L3.668,1.985.324,3.992A.667.667,0,0,0,1.01,5.135L2,4.541V11.1A3.312,3.312,0,0,0,2.145,12.5a1.333,1.333,0,0,0,.583.583,3.313,3.313,0,0,0,1.405.145h1.2v-4a2,2,0,1,1,4,0v4h1.2a3.313,3.313,0,0,0,1.405-.145,1.333,1.333,0,0,0,.583-.583A3.313,3.313,0,0,0,12.667,11.1Z"
                                      fill="#777e90" />
                            </svg>
                            <button class="btn btn-muted focus_shadow_off border-0 text_23">
                                General
                            </button>
                        </li>
                        <li class="list-group-item bg_transparent border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.333" height="13.333"
                                 viewBox="0 0 13.333 13.333">
                                <g id="icons_Circle_and_Square_Filled" data-name="icons/Circle and Square/Filled"
                                   transform="translate(-1.333 -1.333)">
                                    <path id="Shape"
                                          d="M.667,6.667a6,6,0,0,0,6-6q0-.149-.007-.3A.35.35,0,0,1,7,0H8A1.333,1.333,0,0,1,9.333,1.333V8A1.333,1.333,0,0,1,8,9.333H1.333A1.333,1.333,0,0,1,0,8V7A.35.35,0,0,1,.371,6.66Q.518,6.667.667,6.667Z"
                                          transform="translate(5.333 5.333)" fill="#777e90" />
                                    <path id="Shape-2" data-name="Shape"
                                          d="M9.333,4.667A4.667,4.667,0,1,1,4.667,0,4.667,4.667,0,0,1,9.333,4.667Z"
                                          transform="translate(1.333 1.333)" fill="#777e90" />
                                </g>
                            </svg>


                            <button class="btn btn-muted focus_shadow_off border-0 text_7">
                                Support
                            </button>
                        </li>
                        <li class="list-group-item bg_transparent border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10.728" height="15.945"
                                 viewBox="0 0 10.728 15.945">
                                <path id="Shape"
                                      d="M.127,8.915,6.365.279a.667.667,0,0,1,1.2.5L6.7,5.972H10.06a.667.667,0,0,1,.54,1.057L4.363,15.666a.667.667,0,0,1-1.2-.5l.866-5.194H.668A.667.667,0,0,1,.127,8.915Z"
                                      transform="translate(0 0)" fill="#777e90" />
                            </svg>
                            <button class="btn btn-muted focus_shadow_off border-0 text_7">
                                Goverence
                            </button>
                        </li>

                        <li class="list-group-item bg_transparent border-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.897" height="12.897"
                                 viewBox="0 0 12.897 12.897">
                                <g id="icons_Pen_Filled" data-name="icons/Pen/Filled"
                                   transform="translate(-1.582 -1.582)">
                                    <path id="Shape"
                                          d="M4.851,1.962,1.962,4.851a1.257,1.257,0,0,1-1.778,0,.629.629,0,0,1,0-.889L3.962.184a.629.629,0,0,1,.889,0A1.257,1.257,0,0,1,4.851,1.962Z"
                                          transform="translate(9.26 9.26)" fill="#777e90" />
                                    <path id="Shape-2" data-name="Shape"
                                          d="M4.427,5.595a.391.391,0,0,0-.1-.325L.415,1.358C.246,1.189-.031,1.274,0,1.511l.776,5.43A4,4,0,0,0,3.047,10l2.615,1.22a.667.667,0,0,0,.753-.133l4.673-4.673a.667.667,0,0,0,.133-.753L10,3.047A4,4,0,0,0,6.941.779L1.511,0c-.237-.034-.323.243-.153.412L5.27,4.327a.391.391,0,0,0,.325.1,1.348,1.348,0,0,1,.157-.009A1.332,1.332,0,1,1,4.427,5.595Z"
                                          transform="translate(1.582 1.582)" fill="#777e90" />
                                </g>
                            </svg>

                            <button class="btn btn-muted focus_shadow_off border-0 text_7">
                                $STARB
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-12 d-md-none">
                    <div class="col_wrapper">
                        <div class="form-group ">
                            <select name="" id="" class="form-control rounded-lg">
                                <option value="General">General</option>
                                <option value="Support">Support</option>
                                <option value="Goverence">Goverence</option>
                                <option value="STARB">$STARB</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col_wrapper">
                        <ul class="list-group">
                            <li class="list-group-item border-top-0 border-right-0 border-left-0 py-4 bg_transparent">
                                <button data-toggle="collapse"
                                        class="w-100 btn btn-muted focus_shadow_off border-0 mx-0 px-0"
                                        data-target="#collapse_ask1">
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            Can I create an NFT on Starboard.org without putting it on
                                            sale?
                                        </span>
                                        <span>
                                            <i class="fas fa-angle-down    "></i>
                                        </span>
                                    </div>
                                </button>

                                <div id="collapse_ask1" class="collapse">
                                    <p class="text_7">
                                        Yes, you can and it is up to you if you decide to sell it later or not.
                                    </p>
                                    <a href="#" class="btn btn-muted border rounded-pill btn-sm px-2">
                                        Learn more
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-right-0 border-left-0 py-4 bg_transparent">
                                <button data-toggle="collapse"
                                        class="w-100 btn btn-muted focus_shadow_off border-0 mx-0 px-0"
                                        data-target="#collapse_ask2">
                                    <div class="d-flex justify-content-between">
                                        <span>NFT? ERC-721 tokens?</span>
                                        <span>
                                            <i class="fas fa-angle-down    "></i>
                                        </span>
                                    </div>
                                </button>

                                <div id="collapse_ask2" class="collapse">
                                    <p class="text_7">
                                        Yes, you can and it is up to you if you decide to sell it later or not.
                                    </p>
                                    <a href="#" class="btn btn-muted border rounded-pill btn-sm px-2">
                                        Learn more
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-right-0 border-left-0 py-4 bg_transparent">
                                <button data-toggle="collapse"
                                        class="w-100 btn btn-muted focus_shadow_off border-0 mx-0 px-0"
                                        data-target="#collapse_ask3">
                                    <div class="d-flex justify-content-between">
                                        <span>What does “minting” mean?</span>
                                        <span>
                                            <i class="fas fa-angle-down    "></i>
                                        </span>
                                    </div>
                                </button>

                                <div id="collapse_ask3" class="collapse">
                                    <p class="text_7">
                                        Yes, you can and it is up to you if you decide to sell it later or not.
                                    </p>
                                    <a href="#" class="btn btn-muted border rounded-pill btn-sm px-2">
                                        Learn more
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item border-top-0 border-right-0 border-left-0 py-4 bg_transparent">
                                <button data-toggle="collapse"
                                        class="w-100 btn btn-muted focus_shadow_off border-0 mx-0 px-0"
                                        data-target="#collapse_ask4">
                                    <div class="d-flex justify-content-between">
                                        <span>Can I change the price of an already created collectible?</span>
                                        <span>
                                            <i class="fas fa-angle-down    "></i>
                                        </span>
                                    </div>
                                </button>

                                <div id="collapse_ask4" class="collapse">
                                    <p class="text_7">
                                        Yes, you can and it is up to you if you decide to sell it later or not.
                                    </p>
                                    <a href="#" class="btn btn-muted border rounded-pill btn-sm px-2">
                                        Learn more
                                    </a>
                                </div>
                            </li>
                            <li class="list-group-item border-0 py-4 bg_transparent">
                                <button data-toggle="collapse"
                                        class="w-100 btn btn-muted focus_shadow_off border-0 mx-0 px-0"
                                        data-target="#collapse_ask5">
                                    <div class="d-flex justify-content-between">
                                        <span>Can I gift or send a collectible to someone?</span>
                                        <span>
                                            <i class="fas fa-angle-down    "></i>
                                        </span>
                                    </div>
                                </button>

                                <div id="collapse_ask5" class="collapse">
                                    <p class="text_7">
                                        Yes, you can and it is up to you if you decide to sell it later or not.
                                    </p>
                                    <a href="#" class="btn btn-muted border rounded-pill btn-sm px-2">
                                        Learn more
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <div class="container-xxl my-3 mb-my-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="col_wrapper">
                                    <div class="d-flex justify-content-between flex-wrap">
                                        <div class="flex_item mb-2">
                                            <h3>
                                                Hot bid
                                            </h3>
                                        </div>
                                        <div class="flex_item mb-2">
                                            <div class="slider_handle">
                                                <button class="btn btn-muted rounded-pill w_h_40 btn_prev_next"
                                                        data-swiper_collectors_only="prev">
                                                    <i class="fas fa-arrow-left    "></i>
                                                </button>
                                                <button class="btn btn-muted rounded-pill w_h_40 btn_prev_next"
                                                        data-swiper_collectors_only="next">
                                                    <i class="fas fa-arrow-right    "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="col_wrapper">
                                    <!-- Swiper -->
                                    <div class="swiper-container collectors_card_swiper">
                                        <div class="swiper-wrapper py-5">
                                            <div class="swiper-slide">
                                                <div class="card shadow-sm collectors_card border-0 d-inline-block">
                                                    <div class="card-header p-0 border-0  bg_transparent collectors_card_header position-relative">
                                                        <img src="./img/bitcoin.png" class="h-100 w-100"
                                                             alt="bitcoin">
                                                        <div class="collectors_card_header_content p-2">
                                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                                <button class="btn bg_teal text-white btn-sm text-uppercase">
                                                                    purchasing !
                                                                </button>
                                                                <button class="btn d-flex justify-content-center align-items-center btn-light border rounded-circle w_h_40">
                                                                    <i class="fas fa-heart text-dark btn-sm    "></i>
                                                                </button>

                                                            </div>

                                                            <div class="bit_button bottom_0">
                                                                <button class="btn btn-primary w-100 border rounded-pill mb-2">
                                                                    Place a bid
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <span>
                                                                Amazing digital art
                                                            </span>
                                                            <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                                                2.45 ETH
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="stock_user stock_user_img d-flex align-items-center">
                                                                <img src="./img/user.png" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                            </div>
                                                            <span>
                                                                3 in stock
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer bg_transparent">
                                                        <div class="d-flex justify-content-between mb-2 font_size_12">
                                                            <div class="d-flex ">
                                                                <span>Highest bid</span>
                                                                <span>
                                                                    0.001 ETH
                                                                </span>

                                                            </div>
                                                            <span class="ml-auto">
                                                                New bid 🔥
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="card shadow-sm collectors_card border-0 d-inline-block">
                                                    <div class="card-header p-0 border-0  bg_transparent collectors_card_header position-relative">
                                                        <img src="./img/bitcoin.png" class="h-100 w-100"
                                                             alt="bitcoin">
                                                        <div class="collectors_card_header_content p-2">
                                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                                <button class="btn bg_teal text-white btn-sm text-uppercase">
                                                                    purchasing !
                                                                </button>
                                                                <button class="btn d-flex justify-content-center align-items-center btn-light border rounded-circle w_h_40">
                                                                    <i class="fas fa-heart text-dark btn-sm    "></i>
                                                                </button>

                                                            </div>

                                                            <div class="bit_button bottom_0">
                                                                <button class="btn btn-primary w-100 border rounded-pill mb-2">
                                                                    Place a bid
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <span>
                                                                Amazing digital art
                                                            </span>
                                                            <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                                                2.45 ETH
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="stock_user stock_user_img d-flex align-items-center">
                                                                <img src="./img/user.png" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                            </div>
                                                            <span>
                                                                3 in stock
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer bg_transparent">
                                                        <div class="d-flex justify-content-between mb-2 font_size_12">
                                                            <div class="d-flex ">
                                                                <span>Highest bid</span>
                                                                <span>
                                                                    0.001 ETH
                                                                </span>

                                                            </div>
                                                            <span class="ml-auto">
                                                                New bid 🔥
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="card shadow-sm collectors_card border-0 d-inline-block">
                                                    <div class="card-header p-0 border-0  bg_transparent collectors_card_header position-relative">
                                                        <img src="./img/mobile_product.png" class="h-1 w-100"
                                                             alt="mobile_product">
                                                        <div class="collectors_card_header_content p-2">
                                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                                <button class="btn bg_teal text-white btn-sm text-uppercase">
                                                                    purchasing !
                                                                </button>
                                                                <button class="btn d-flex justify-content-center align-items-center btn-light border rounded-circle w_h_40">
                                                                    <i class="fas fa-heart text-dark btn-sm    "></i>
                                                                </button>

                                                            </div>

                                                            <div class="bit_button bottom_0">
                                                                <button class="btn btn-primary w-100 border rounded-pill mb-2">
                                                                    Place a bid
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <span>
                                                                Amazing digital art
                                                            </span>
                                                            <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                                                2.45 ETH
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="stock_user stock_user_img d-flex align-items-center">
                                                                <img src="./img/user.png" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                            </div>
                                                            <span>
                                                                3 in stock
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer bg_transparent">
                                                        <div class="d-flex justify-content-between mb-2 font_size_12">
                                                            <div class="d-flex ">
                                                                <span>Highest bid</span>
                                                                <span>
                                                                    0.001 ETH
                                                                </span>

                                                            </div>
                                                            <span class="ml-auto">
                                                                New bid 🔥
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="card shadow-sm collectors_card border-0 d-inline-block">
                                                    <div class="card-header border-0 p-0 bg_transparent collectors_card_header position-relative">
                                                        <img src="./img/yeah_product.png" class="h-100 w-100"
                                                             alt="yeah_product">
                                                        <div class="collectors_card_header_content p-2">
                                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                                <button class="btn bg_teal text-white btn-sm text-uppercase">
                                                                    purchasing !
                                                                </button>
                                                                <button class="btn d-flex justify-content-center align-items-center btn-light border rounded-circle w_h_40">
                                                                    <i class="fas fa-heart text-dark btn-sm    "></i>
                                                                </button>
                                                            </div>

                                                            <div class="bit_button bottom_0">
                                                                <button class="btn btn-primary w-100 border rounded-pill mb-2">
                                                                    Place a bid
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <span>
                                                                Amazing digital art
                                                            </span>
                                                            <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                                                2.45 ETH
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="stock_user stock_user_img d-flex align-items-center">
                                                                <img src="./img/user.png" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                            </div>
                                                            <span>
                                                                3 in stock
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer bg_transparent">
                                                        <div class="d-flex justify-content-between mb-2 font_size_12">
                                                            <div class="d-flex ">
                                                                <span>Highest bid</span>
                                                                <span>
                                                                    0.001 ETH
                                                                </span>

                                                            </div>
                                                            <span class="ml-auto">
                                                                New bid 🔥
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="swiper-slide">
                                                <div class="card shadow-sm collectors_card border-0 d-inline-block">
                                                    <div class="card-header p-0 border-0  bg_transparent collectors_card_header position-relative">
                                                        <img src="./img/yeah_product.png" class="h-100 w-100"
                                                             alt="yeah_product">
                                                        <div class="collectors_card_header_content p-2">
                                                            <div class="d-flex justify-content-between w-100 align-items-center">
                                                                <button class="btn bg_teal text-white btn-sm text-uppercase">
                                                                    purchasing !
                                                                </button>
                                                                <button class="btn d-flex justify-content-center align-items-center btn-light border rounded-circle w_h_40">
                                                                    <i class="fas fa-heart text-dark btn-sm    "></i>
                                                                </button>
                                                            </div>

                                                            <div class="bit_button bottom_0">
                                                                <button class="btn btn-primary w-100 border rounded-pill mb-2">
                                                                    Place a bid
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between mb-2">
                                                            <span>
                                                                Amazing digital art
                                                            </span>
                                                            <span class="font_size_14 font-weight-bold border_text_45 d-inline-block px-1 rounded-lg  text_45">
                                                                2.45 ETH
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="stock_user stock_user_img d-flex align-items-center">
                                                                <img src="./img/user.png" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                                <img src="./img/user.png" class="ml-n3" alt="user">
                                                            </div>
                                                            <span>
                                                                3 in stock
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer bg_transparent">
                                                        <div class="d-flex justify-content-between mb-2 font_size_12">
                                                            <div class="d-flex ">
                                                                <span>Highest bid</span>
                                                                <span>
                                                                    0.001 ETH
                                                                </span>

                                                            </div>
                                                            <span class="ml-auto">
                                                                New bid 🔥
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code {

}
