@page "/notfoundprofile"

@inject NavigationManager NavigationManager;

<main class="py-5">
    <section>
        <div class="container-xxl">
            <div class="row justify-content-center">
                <div class="col-11 col-md-9 col-lg-8">
                    <div class="col_wrapperr">
                        <img src="img/search_nont_found.png" class="w-100 mx-auto size_cover"
                             alt="search_nont_found">
                        <br>
                        <br>
                        <div class="content_wrapper text-center">
                            <h2 class="text_23">
                                Sorry, we couldn’t find any results for this search.
                            </h2>
                            <span class="font_size_14">
                                Maybe give one of these a try?
                            </span>
                        </div>
                        <br>
                        <div class="form-group my-3 text-center">
                            <div class="d-inline-flex mx-auto border rounded-pill p-1" width="300">
                                <input type="text" placeholder="Enter your search"
                                       class="form-control border-0 p-2 focus_shadow_off">
                                <button class="btn btn-primary w_h_40 p-1 rounded-circle btn-sm">
                                    <i class="fas fa-angle-right    "></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    <h4 class="text_23 text-center my-3 my-md-5">
                        Explore more
                    </h4>
                </div>
                <div class="col-12">
                    <!-- Swiper -->
                    <div class="swiper-container swiper_explore_more_container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide px-3 py-4">
                                <div class="d-flex flex-wrap p-1 px-2 border rounded-pill align-items-center w-100 card_hover_shadow">
                                    <div class="notify_box_wrapper position-relative d-flex align-items-center">
                                        <!-- if image -->
                                        <!-- <img src="" class="w_h_96 rounded-circle d-inline-block" alt=""> -->
                                        <!-- else box-->
                                        <span class="w_h_40 rounded-circle  d-inline-block bg_37"></span>
                                        <!--  -->
                                    </div>
                                    <div class="content_wrapper ml-3 flex-grow-1 text-left">
                                        <strong>Artwork</strong>
                                        <br>
                                        <span class="font_size_12 text_7">
                                            138 items
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide px-3 py-4">
                                <div class="d-flex flex-wrap p-1 px-2 border rounded-pill align-items-center w-100 card_hover_shadow">
                                    <div class="notify_box_wrapper position-relative d-flex align-items-center">
                                        <!-- if image -->
                                        <!-- <img src="" class="w_h_96 rounded-circle d-inline-block" alt=""> -->
                                        <!-- else box-->
                                        <span class="w_h_40 rounded-circle  d-inline-block bg_37"></span>
                                        <!--  -->
                                    </div>
                                    <div class="content_wrapper ml-3 flex-grow-1 text-left">
                                        <strong>Photography</strong>
                                        <br>
                                        <span class="font_size_12 text_7">
                                            138 items
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide  px-3 py-4">
                                <div class="d-flex flex-wrap p-1 px-2 border rounded-pill align-items-center w-100 card_hover_shadow">
                                    <div class="notify_box_wrapper position-relative d-flex align-items-center">
                                        <!-- if image -->
                                        <img src="./img/notify_sturb.png"
                                             class="w_h_40 rounded-circle d-inline-block" alt="">
                                        <!-- else box-->
                                        <!-- <span class="w_h_40 rounded-circle  d-inline-block bg_37"></span> -->
                                        <!--  -->
                                    </div>
                                    <div class="content_wrapper ml-3 flex-grow-1 text-left">
                                        <strong>Game</strong>
                                        <br>
                                        <span class="font_size_12 text_7">
                                            138 items
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide px-3 py-4">
                                <div class="d-flex flex-wrap p-1 px-2 border rounded-pill align-items-center w-100 card_hover_shadow">
                                    <div class="notify_box_wrapper position-relative d-flex align-items-center">
                                        <!-- if image -->
                                        <!-- <img src="" class="w_h_96 rounded-circle d-inline-block" alt=""> -->
                                        <!-- else box-->
                                        <span class="w_h_40 rounded-circle  d-inline-block bg_37"></span>
                                        <!--  -->
                                    </div>
                                    <div class="content_wrapper ml-3 flex-grow-1 text-left">
                                        <strong>Music</strong>
                                        <br>
                                        <span class="font_size_12 text_7">
                                            138 items
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide px-3 py-4">
                                <div class="d-flex flex-wrap p-1 px-2 border rounded-pill align-items-center w-100 card_hover_shadow">
                                    <div class="notify_box_wrapper position-relative d-flex align-items-center">
                                        <!-- if image -->
                                        <!-- <img src="" class="w_h_96 rounded-circle d-inline-block" alt=""> -->
                                        <!-- else box-->
                                        <span class="w_h_40 rounded-circle  d-inline-block bg_37"></span>
                                        <!--  -->
                                    </div>
                                    <div class="content_wrapper ml-3 flex-grow-1 text-left">
                                        <strong>Artwork</strong>
                                        <br>
                                        <span class="font_size_12 text_7">
                                            138 items
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

@code {
    void OnReturnBtnClick()
    {
        //
        NavigationManager.NavigateTo("/");
    }
}
