@page "/walletlink"
@inject IJSRuntime JsRunTime
@inject Blazored.LocalStorage.ILocalStorageService localStore;
@inject NavigationManager NavigationManager

<div class="selected_wallet">
    <RadzenCard class="wallet-card">
        <div style="width:100%; height:100%; margin: auto;">
            <RadzenImage Path="img/wallet-icons/walletlink.webp" Style="width:100%;" />
        </div>
        <p class="text-center font_size_32 mt-5">Pairs with Coinbase Wallet and works from any browser, without an extension</p>
    </RadzenCard>
</div>

@code {

    [Parameter]
    public string selectedwalletImgpath { get; set; }

    public string walletlink_address { get; set; }

    public async Task<string> ConnectWalletlink()
    {
        var address = await JsRunTime.InvokeAsync<string>("Walletlink_Request");

        walletlink_address = address;

        return walletlink_address;

    }
}