// add the class in body
// light theme
.light__theme{
    
    .text_theme_black{
        color: black!important;
    }
    .text_theme_c7{
        color: #777E90;
    }
}
// dark theme
.dark__theme{
    .text_theme_white{
        color: white!important
    }
}